<p-table #dt [columns]="cols" [value]="remetentes" selectionMode="single" [(selection)]="selectedCar" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
        Lista de remetentes
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onBasicUpload($event)"></p-fileUpload>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add" style="float:left;margin: 5px"></button>
            <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="Exportar" (click)="dt.exportCSV()" style="float:left;margin: 5px"></button>

        </div>
        <div style="text-align:right" >
            <input type="file" pInputText #csvReader name="Upload CSV" id="txtFileUpload" (change)="uploadListener($event)" accept=".csv"/> 
        </div>
    </ng-template>    
</p-table>

<p-dialog header="Criar remetente" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '300px'}">
    <div class="ui-g ui-fluid" *ngIf="remetente">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Nome</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="vin" [(ngModel)]="remetente.nome" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Telefone</label>
            </div>
            <div class="ui-g-8">
                <p-inputMask mask="(999) 999-99999" [(ngModel)]="remetente.telefone" placeholder="(999) 999-99999"></p-inputMask>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="brand">Cpf</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="brand" [(ngModel)]="remetente.cpf" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="color">Endereço</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="color" [(ngModel)]="remetente.endereco" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="color">Email</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="color" [(ngModel)]="remetente.email" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>